@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.image-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.image-section img {
    width: 100%;
    width: 400px;
    border-radius: 10px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d9390d;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2980b9;
}


.back-home {
    text-align: left;
    margin-bottom: 10px;
}

.back-home a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.back-home a:hover {
    text-decoration: underline;
}


